---
import styles from "./styles.module.scss";

type Props = {
  day: string;
  place: string;
  price: string;
  time: string;
};

const { day, place, price, time } = Astro.props;
---

<div class={styles.timetable_card}>
  <span class={styles.timetable_card__day}>{day}</span>
  <hr class={styles.timetable_card__separator} />
  <span class={styles.timetable_card__place}>{place}</span>
  <div class={styles.timetable_card__circle}>
    <span class={styles.timetable_card__circle__price}>{price}</span>
  </div>
</div>

<style></style>
