---
import styles from "./styles.module.scss";

interface Props {
  text: string;
  margin?: string;
  align?: string;
  width?: string;
  paragraphType: "red" | "white";
}

const { text, margin, width, align, paragraphType, ...rest } = Astro.props;

const paragraphClass = `${styles.paragraph} ${
  styles[`paragraph--${paragraphType}`]
} ${margin ? margin : ""} ${width} ${align}`;
---

<p class={paragraphClass} style={{ width: width }}>
  {text}
</p>
