---
import Button from "../../../shared/ui/Buttons/DefaultButton/index.astro";
import BigText from "../../../shared/ui/BigText/index.astro";
import Paragraph from "../../../shared/ui/Paragraph/index.astro";
import { Input } from "@shared/ui/Inputs/DefaultInput";
import PasswordInput from "@shared/ui/Inputs/PasswordInput/index";
import MiniText from "@shared/ui/MiniText/index.astro";

// import Logo from "../../../assets/logo/logo.svg";

import styles from "../styles/styles.module.scss";
---

<section class={styles.registration}>
  <div class={styles.registration__content}>
    <div class={styles.registration__logo}>
      <!-- <Image src={Logo} alt="Logo" /> -->
    </div>
    <BigText
      text="Войдите в аккаунт"
      margin="mt-8"
      bigTextType="form"
      {...Astro.props}
    />
    <Paragraph
      paragraphType="white"
      margin="mt-8"
      width="42%"
      text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
      {...Astro.props}
    />
    <form class={styles.registration__form}>
      <Input
        client:load
        placeholder="Электронная почта"
        inputType="default"
        margin="mt-4"
        type="email"
        {...Astro.props}
      />
      <PasswordInput
        client:load
        placeholder="Пароль"
        margin="mt-4"
        type="password"
        {...Astro.props}
      />
      <Button
        text="Войти"
        buttonType="filled"
        type="submit"
        margin="mt-8"
        {...Astro.props}
      />
    </form>
    <MiniText
      margin="mt-10"
      href="registration"
      text="Еще нет аккунта? "
      linktext=" Создать"
    />
  </div>
</section>
