---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import AboutCards from '@entities/Card_Components/AboutCard/index.astro'
import { aboutCardsData } from '@shared/lib/content/aboutCardsContent'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={styles.container}>
	<div class="m-auto w-[86.6%]">
		<div class={styles.container__heading}>
			<h2 class="text-primary-red">Наши цели</h2>
			<Paragraph
				paragraphType="white"
				align="text-right"
				width="25%"
				text="Мы являемся одной из крупнейших маф-комьюнити в мире, и ведущей организацией в Казахстане"
			/>
		</div>
		<div class="mt-16 flex items-center justify-evenly gap-10">
			{
				aboutCardsData.map((card) => (
					<AboutCards bigText={card.bigText} paragraph={card.paragraph} cardType={card.cardType} />
				))
			}
		</div>
	</div>
</section>
<section class={styles.container_mob}>
	<div class="mt-12 flex flex-col items-center">
		<h2 class="text-primary-red">Наши цели</h2>
		<Paragraph
			align="text-center"
			margin="mt-4"
			paragraphType="white"
			width="75%"
			text="Мы являемся одной из крупнейших маф-комьюнити в мире, и ведущей организацией в Казахстане"
		/>
		{
			aboutCardsData.map((card) => (
				<AboutCards
					bigText={card.bigText}
					paragraph={card.paragraph}
					cardType={card.cardType}
					margin="mt-8"
				/>
			))
		}
	</div>
</section>
