---
import {AdminPanel} from '../../../../features/AdminPanel/index';
import {adminpanel} from '../../../../features/AdminPanel/index';
// import AddButton from "../../../../shared/ui/AddButton/index";
import AdminUserTab from "../../../../shared/ui/AdminUserTab/index"
import AdminTeam from "../../../../features/AdminTeam/index"
import {users} from "../../../../features/AdminTeam/index";
import AdminHeader from "../../../../features/AdminHeader/index"

import '@shared/styles/global.scss';

import styles from "./styles.module.scss";


import Oleg from "../../../../assets/Admin/oleg.webp";

---
<main class={styles.client}>
    <div class={styles.client__content}>
        <AdminPanel adminpanel={adminpanel} client:load/>  
<AdminHeader/>
        <div class={styles.client__content_main}>
            <h1 class={styles.client__content_main_heading}>Управление пользователями</h1>
            <!-- <AdminTeam users={users} client:load /> -->
        </div>
    </div>
</main>