---
import Button from "@shared/ui/Buttons/DefaultButton/index.astro";
import Paragraph from "@shared/ui/Paragraph/index.astro";
import { CardGallery } from "@features/CardGallery/index";
import styles from "./styles.module.scss";

// import men from "@assets/Gallery/men.webp";
// import womanman from "@assets/Gallery/womanman.webp";
// import women from "@assets/Gallery/women.webp";
// import womenjar from "@assets/Gallery/womenjar.webp";
// import womenkatana from "@assets/Gallery/womenkatana.webp";

import { cards } from "@shared/lib/content/cardContent";
---

<section class={styles.rules_screen} id="rules">
  <div class={styles.rules_screen__container}>
    <div class={styles.rules_screen__container__upper}>
      <div class="flex flex-col items-start">
        <h5 class="text-primary-red">Правила игры</h5>
        <Paragraph
          paragraphType="white"
          width="40%"
          margin="mt-4"
          text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
        />
      </div>
      <div class="flex items-center gap-8">
        <Button text="Роли" buttonType="transparent" />
        <Button text="Общие правила" buttonType="transparent" />
      </div>
    </div>
    <CardGallery cards={cards} client:visible />
  </div>
</section>
<<<<<<< HEAD

<section class={styles.rules_mob_screen} id="rules">
  <div class={styles.rules_mob_screen__container}>
    <div class={styles.rules_mob_screen__container__upper}>
      <div class="flex flex-col items-center">
        <h5 class="text-primary-red">Правила игры</h5>
        <Paragraph
        align="text-center"
          paragraphType="white"
          width="40%"
          margin="mt-4"
          text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
        />
      </div>
      <div class="flex items-center gap-8">
        <Button text="Роли" buttonType="transparent" />
        <Button text="Общие правила" buttonType="transparent" />
      </div>
    </div>
    <CardGallery cards={cards} client:visible />
  </div>
</section>
=======
>>>>>>> c4c263b46bcd72ff1acd127a14aecb629f6fc740
