---
import Paragraph from '../../../shared/ui/Paragraph/index.astro'
import Marquees from '../../../shared/ui/Marquee/index.tsx'
import MobSlide from '@shared/ui/Marquee/mob'

import '@shared/styles/global.scss'
import styles from './styles.module.scss'

import Freedom from '../../../assets/Clients/freedom.svg'
import Mob from '@assets/Card/freedom.svg'

const photos = [Freedom, Freedom, Freedom]
const photos2 = [Mob, Mob, Mob]
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Наши клиенты</h1>
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="mt-16"
		/>
		<div class={styles.client__content_picture}></div>
	</div>
	<Marquees photos={photos} margin="mt-24" />
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-primary-red">Наши клиенты</h1>
		<Paragraph
			paragraphType="white"
			width="75%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="m-auto pt-8"
		/>
	</div>
	<MobSlide margin="mt-24" />
</main>
