---
import { CardSwiper } from '@features/CardSwiper/index'
import { products } from '@features/CardSwiper/index'

import SpecialsSwiper from '@features/SpecialsSwiper/index'
import {specials} from '@features/SpecialsSwiper/index'

import '@shared/styles/global.scss'
import styles from "./styles.module.scss";
---

<main class={styles.products}>
    <div class={styles.products__content}>
        <div class={styles.products__content_cards}>
            <CardSwiper products={products} client:load/>
            <SpecialsSwiper specials={specials} client:load/>
        </div>
    </div>
</main>
