---
import { CardSwiper } from '@features/Swiper_Components/CardSwiper'
import React, { useEffect, useState } from 'react'
// import { products } from '@shared/lib/content/ShopContents'
import { ProductCard } from '@entities/Card_Components/ProductsCard/index'
import { specials } from '@shared/lib/content/ShopContents'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import SpecialsSwiper from '@features/Swiper_Components/SpecialsSwiper/index'
import styles from './styles.module.scss'
import photo from '@assets/About/card_product.webp'
import shlyapa from '@assets/About/shlyapa.webp'

import '@shared/styles/global.scss'

// const fetchProducts = async () => {
// 	try {
// 		const response = await fetch('http://localhost:4200/api/admin/get-products')
// 		if (!response.ok) {
// 			throw new Error(`HTTP error! status: ${response.status}`)
// 		}
// 		return await response.json()
// 	} catch (error) {
// 		console.error('Failed to fetch products:', error)
// 		return []
// 	}
// }

// const products = await fetchProducts()
---

<main class={styles.products}>
	<div class={styles.products__content}>
		<div class={styles.products__content_cards}>
			<div class={styles.products__content_card}>
				<CardSwiper client:load />
			</div>
			<!-- <SpecialsSwiper specials={specials} client:load /> -->
		</div>
	</div>
</main>

<main class={styles.products_mob}>
	<div class={styles.products_mob__content}>
		<h1 class="text-center text-primary-red">Онлайн магазин</h1>
		<Paragraph
			margin="mt-8"
			align="text-center"
			paragraphType="white"
			width="86%"
			text="Наш онлайн магазин предлагает широкий ассортимент товаров, специально подобранных для организации и проведения игр в Мафию. Здесь вы найдете всё необходимое, чтобы сделать ваш игровой вечер по-настоящему незабываемым: от эксклюзивных наборов карт и атрибутов для игры до тематических аксессуаров и декораций, создающих атмосферу таинственности и интриги."
		/>
		<div class="mt-8">
			<!-- {
				products.map((product: any) => (
					<div class="mt-12">
						<ProductCard
							url={product.url}
							name={product.name}
							description={product.description}
							price={product.price}
						/>
					</div>
				))
			} -->
		</div>
	</div>
</main>

<!-- <h1 class="mt-16 text-center text-primary-red">Акции</h1>
		<Paragraph
			align="text-center"
			paragraphType="white"
			width="86%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
		/>
		<div class="mt-8">
			<ProductCard
				photo={shlyapa}
				heading="Шляпа мафиози"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				price="7000 тг"
			/>
			<div class="mt-12">
				<ProductCard
					photo={shlyapa}
					heading="Шляпа мафиози"
					paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
					price="7000 тг"
				/>
			</div> -->
