---
import { CardSwiper } from '@features/Swiper_Components/CardSwiper'
import { products } from '@features/Swiper_Components/CardSwiper/index'
import { ProductCard } from '@entities/Card_Components/ProductsCard/index'
import { specials } from '@features/Swiper_Components/SpecialsSwiper/index'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import SpecialsSwiper from '@features/Swiper_Components/SpecialsSwiper/index'
import styles from './styles.module.scss'
import photo from '@assets/About/card_product.webp'
import shlyapa from '@assets/About/shlyapa.webp'

import '@shared/styles/global.scss'
---

<main class={styles.products}>
	<div class={styles.products__content}>
		<div class={styles.products__content_cards}>
			<div class={styles.products__content_card}>
				<CardSwiper products={products} client:load />
			</div>
			<SpecialsSwiper specials={specials} client:load />
		</div>
	</div>
</main>

<main class={styles.products_mob}>
	<div class={styles.products_mob__content}>
		<h1 class="text-center text-primary-red">Продукция</h1>
		<Paragraph
			align="text-center"
			paragraphType="white"
			width="86%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
		/>
		<div class="mt-8">
			<ProductCard
				photo={photo}
				heading="Шляпа мафиози"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				,
				price="15000 тг"
			/>
			<div class="mt-12">
				<ProductCard
					photo={photo}
					heading="Шляпа мафиози"
					paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
					,
					price="15000 тг"
				/>
			</div>
		</div>
		<h1 class="mt-16 text-center text-primary-red">Акции</h1>
		<Paragraph
			align="text-center"
			paragraphType="white"
			width="86%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
		/>
		<div class="mt-8">
			<ProductCard
				photo={shlyapa}
				heading="Шляпа мафиози"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
				,
				price="7000 тг"
			/>
			<div class="mt-12">
				<ProductCard
					photo={shlyapa}
					heading="Шляпа мафиози"
					paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
					,
					price="7000 тг"
				/>
			</div>
		</div>
	</div>
</main>