---
import styles from "./styles.module.scss";

interface Props {
  margin?: string;
  href: string;
  text: string;
  linktext: string;
}

const {margin, href, text, linktext} = Astro.props;
---


 <div class={styles.mini_text} style={{ margin }}>
      <span>{text} </span>
      <a href={href} class={styles.link_text}>
        {linktext}
      </a>
</div>