---
import SwiperHistory from "../../../shared/ui/HistoryCard/index";
import { history } from "../../../shared/ui/HistoryCard/index";

import "@shared/styles/global.scss";

import styles from "../ClientsPage/styles.module.scss";
---

<main class={styles.client}>
    <div class={styles.client__content}>
        <h1 class="text-primary-red mt-32">История</h1>
        <div class={styles.client__content__history_cards}>
            <SwiperHistory history={history} client:load />
        </div>
    </div>
</main>

<main class={styles.client_mob}>
    <div class={styles.client_mob__content}>
        <h1 class="text-primary-red mt-16">История</h1>
        <div class={styles.client_mob__cards}>
            <div class="ml-96 w-[190%] justify-center">
                <SwiperHistory history={history} client:load />
            </div>
        </div>
    </div>
</main>
