---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import styles from './styles.module.scss'

interface Props {
	time: string
	heading: string
	paragraph: string
	img: ImageMetadata
}

const { time, heading, paragraph, img } = Astro.props
---

<div class={styles.card}>
	<img src={img.src} alt="News" />
	<div class="ml-auto mt-3 flex w-[95%] flex-col">
		<span class="font-katana text-xl">{time}</span>
		<span class="mt-2 overflow-hidden font-katana text-4xl">{heading}</span>
		<Paragraph paragraphType="dark" margin="mt-4" text={paragraph} />
	</div>
</div>
