---
import { LinkButton } from '@shared/ui/LinkButton/index'
import Paragraph from '@shared/ui/Paragraph/index.astro'

import Button from '@shared/ui/Buttons/DefaultButton/index.astro'
import styles from '@pages/styles/home/styles.module.scss'
---

<div class={styles.main__container}>
	<h1 class={`${styles.main__container__heading} text-primary-light`}>
		SHOWTIME<br />
	</h1>
	<span class={styles.main__container__mafia}>MAFIA CLUB</span>
	<div class={styles.main__container__paragraphs}>
		<Paragraph
			paragraphType="white"
			width="50%"
			text="Создайте аккаунт и придумайте себе псевдоним, который будет вызывать трепет и уважение в мире подпольных интриг и стратегических ходов."
		/>
	</div>
	<div class={styles.main__container__buttons}>
		<LinkButton to="main" href="/login" buttonType="filled" text="Войти" />
		<LinkButton to="contacts" buttonType="filled" text="Оставить заявку" client:load />

	</div>
</div>

<div class={styles.main_mob__container}>
	<h1 class={styles.main_mob__container__heading}>
		<span class="w-[100%] font-katana text-primary-light">SHOWTIME</span>
		MAFIA CLUB <br />
	</h1>
	<div class={styles.main_mob__container__paragraphs}>
		<Paragraph
			align="text-center"
			paragraphType="white"
			width="70%"
			margin="mt-4"
			text="Создайте аккаунт и придумайте себе псевдоним, который будет вызывать трепет и уважение в мире подпольных интриг и стратегических ходов."
		/>
	</div>
	<div class={styles.main_mob__container__buttons}>
		<LinkButton to="main" href="/login" to="main" buttonType="filled" margin="mt-8" text="Войти" />
		<LinkButton
		to="contacts_mob"
		buttonType="transparent"
		margin="mt-6"
		text="Оставить заявку"
		client:load
	  />
	</div>
</div>
