---
import Separator from '@shared/ui/Separator/index.astro'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import ServiceCard from '@entities/Card_Components/ServiceCard/index.astro'

import man_01 from '@assets/Main/man_01.png'
import man_02 from '@assets/Main/man_02.png'
import man_03 from '@assets/Main/man_03.png'

import styles from './styles.module.scss'

import '@shared/styles/global.scss'
---

<section class={styles.services_screen} id="services">
	<div class={styles.services_screen__container}>
		<div class={styles.services_screen__container__upper}>
			<div class="flex flex-col items-start">
				<h3 class="text-primary-red">Наши мероприятия</h3>
				<Paragraph
					paragraphType="red"
					width="42%"
					margin="mt-4"
					text="Весело проведите время и укрепите отношения с коллегами. Свяжитесь с нами, чтобы узнать больше о наших возможностях для вашего мероприятия!"
				/>
			</div>
			<Separator textLeft="showtime" />
		</div>
		<div class="mt-16 flex justify-evenly gap-12 overflow-hidden">
			<ServiceCard
				image={man_01.src}
				number="01"
				heading="Корпоратив"
				paragraph="Наши вечера не ограничиваются только костюмами - вас ждут захватывающие шоу, увлекательные игры и развлечения, а также возможность выиграть призы и подарки! Погрузитесь в мир интеллектуальных игр и создайте незабываемые воспоминания!"
			/>
			<ServiceCard
				image={man_02.src}
				number="02"
				heading="Тимбилдинг"
				paragraph="Наша команда разработает интересные и увлекательные игры и задания, способствующие укреплению взаимодействия и командного духа "
			/>
			<ServiceCard
				image={man_03.src}
				number="03"
				heading="Выездной ведущий"
				paragraph="Наши ведущие подготовит игру, организует процесс и создаст атмосферу, чтобы ваше мероприятие стало запоминающимся и веселым для всех участников."
			/>
		</div>
	</div>
</section>

<section class={styles.services_mob_screen} id="services">
	<div class={styles.services_mob_screen__container}>
		<div class={styles.services_mob_screen__container__upper}>
			<div class="flex flex-col items-center">
				<h3 class={styles.heading}>Наши мероприятия</h3>
				<Paragraph
					paragraphType="dark"
					width="75%"
					margin="mt-4"
					align="text-center"
					text="Весело проведите время и укрепите отношения с коллегами. Свяжитесь с нами, чтобы узнать больше о наших возможностях для вашего мероприятия!"
				/>
			</div>
		</div>
		<div class="mt-16 flex flex-col items-center gap-12 overflow-hidden">
			<ServiceCard
				image={man_01.src}
				number="01"
				heading="Корпоратив"
				paragraph="Наши вечера не ограничиваются только костюмами - вас ждут захватывающие шоу, увлекательные игры и развлечения, а также возможность выиграть призы и подарки! Погрузитесь в мир интеллектуальных игр и создайте незабываемые воспоминания!"
			/>
			<ServiceCard
				image={man_02.src}
				number="01"
				heading="Тимбмлдинг"
				paragraph="Наша команда разработает интересные и увлекательные игры и задания, способствующие укреплению взаимодействия и командного духа."
			/>
			<ServiceCard
				image={man_03.src}
				number="01"
				heading="Выездной ведущий"
				paragraph="Наши ведущие подготовит игру, организует процесс и создаст атмосферу, чтобы ваше мероприятие стало запоминающимся и веселым для всех участников.s"
			/>
		</div>
	</div>
</section>
