---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import PhotoCard from '@entities/Card_Components/PhotoCard/index.astro'
import styles from './styles.module.scss'
import '@shared/styles/global.scss'
import Img from '@assets/About/image-30.webp'
import { articles } from '@shared/lib/content/newsArticlesContent'
---

<section class={`${'bg-primary-dark'} ${styles.container}`}>
	<div class="m-auto mt-48 w-[86.6%]">
		<div class="mt-8 flex flex-col">
			<h3 class="text-primary-red">Статьи</h3>
			<Paragraph
				width="30%"
				paragraphType="white"
				text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore."
			/>
		</div>
		<div class="m-auto flex w-full justify-between pt-16">
			{
				articles.map((article) => (
					<PhotoCard
						img={article.img}
						time={article.time}
						heading={article.heading}
						paragraph={article.paragraph}
					/>
				))
			}
		</div>
	</div>
</section>

<section class={`${'bg-primary-dark'} ${styles.container_mob}`}>
	<div class="m-auto flex flex-col items-center pt-16">
		<h5 class="text-primary-red">Статьи</h5>
		<div class="mt-8 flex flex-col items-center gap-10">
			{
				articles.map((article) => (
					<PhotoCard
						img={article.img}
						time={article.time}
						heading={article.heading}
						paragraph={article.paragraph}
					/>
				))
			}
		</div>
	</div>
</section>
