---
import { Link } from 'react-scroll'
import LinkText from '@shared/ui/LinkText'
import styles from './styles.module.scss'
import logoMob from '@assets/About/svg/logo-mob.svg'
import { LinkButton } from '@shared/ui/LinkButton/index'
import Logo from '@assets/logo/showtime_logo.svg'
import Spark from '@assets/Spark/spark.svg'

interface Props {
	to: string
}

const { to } = Astro.props
---

<footer class={styles.footer}>
	<div class={styles.footer__content}>
		<Link to="main" href="/" smooth>
			<img src={Logo.src} alt="Logo" class={styles.footer__content__logo} />
		</Link>
		<nav class={styles.footer__content__navigation}>
			<LinkText text="О нас" to="about" href="" client:load />
			<LinkText text="Events" to="services" href="" client:load />
			<LinkText text="Расписание" to="timetable" href="" client:load />
			<LinkText text="Правила" to="rulesgame" href="" client:load />
			<LinkText text="Рейтинг" to="rating" href="/" client:load />
			<LinkText text="Контакты" to="contacts" href="" client:load />
		</nav>
		<LinkButton text="Вверх" buttonType="filled" to={to} client:visible />
	</div>
	<a href="tel:+77471794939" class={`${styles.footer__link}  hover:text-primary-light`}
		>+7 (747)-179-49-39</a
	>
	<a
		href="mailto:showtime@mafia.kz"
		class={`${styles.footer__link} mt-2 mb-4 transition-all hover:text-primary-light`}
		>info@mafshow.kz</a
	>
	<a href="https://sparkstudio.kz/home" target="_blank">
		<img src={Spark.src} alt="Spark" class="mb-8 mt-8" />
	</a>
</footer>
<footer class={styles.footer_mob}>
	<div class="flex flex-col items-center">
		<Link to="main" href="/" smooth>
			<img src={logoMob.src} alt="Logo" />
		</Link>
		<nav class="flex flex-col text-center">
			<LinkText text="О нас" to="about_mob" href="" client:load />
			<LinkText text="Events" to="services_mob" href="" client:load />
			<LinkText text="Расписание" to="timetable_mob" href="" client:load />
			<LinkText text="Правила" to="rulesgame_mob" href="" client:load />
			<LinkText text="Рейтинг" to="rating_mob" href="/" client:load />
			<LinkText text="Контакты" to="contacts_mob" href="" client:load />
		</nav>
		<a
			href="tel:+77471794939"
			class={`${styles.link} mt-4 transition-all hover:text-primary-light`}
			>+7 (747) 179-49-39</a
		>
		<a
			href="mailto:showtime@mafia.kz"
			class={`${styles.link} mt-2 mb-4 transition-all hover:text-primary-light`}
			>info@mafshow.kz</a
		>
		<LinkButton margin="mt-3 mb-8" text="Вверх" buttonType="filled" to="main" client:visible />
		<a href="https://sparkstudio.kz/home" target="_blank">
			<img src={Spark.src} alt="Spark" class="mb-8" />
		</a>
	</div>
</footer>
