---
import LinkText from "@shared/ui/LinkText";
import styles from "./styles.module.scss";
import Logo from "@shared/ui/Icons/Logo";
import { LinkButton } from "@shared/ui/LinkButton/index";
---

<footer class={styles.footer}>
  <div class={styles.footer__content}>
    <Logo />
    <nav class={styles.footer__content__navigation}>
      <LinkText text="Главная" to="" href="" />
      <LinkText text="О нас" to="" href="" />
      <LinkText text="Услуги" to="" href="" />
      <LinkText text="Расписание" to="" href="" />
      <LinkText text="Правила" to="" href="" />
      <LinkText text="Контакты" to="" href="" />
    </nav>
    <LinkButton text="Вверх" buttonType="filled" to="main" client:visible />
  </div>
  <a href="tel:+77003333826" class={styles.footer__link}>+7 (700) 333-38-26</a>
  <a href="mailto:" class={`${styles.footer__link} mt-2 mb-4`}
    >showtime@mafia.kz</a
  >
</footer>

<style></style>
