---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import RatingTab from '@entities/Tab_Components/RatingTab/index'
import { rating } from '@shared/lib/content/ratingContent'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Турниры</h1>
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="mt-16"
		/>
		<div class={styles.client__content_tournaments}>
			<RatingTab rating={rating} />
		</div>
	</div>
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-center text-primary-red">Турниры</h1>
		<Paragraph
			paragraphType="white"
			align="text-center"
			width="75%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="m-auto pt-8"
		/>
		<div class={styles.client__content_tournaments}>
			<RatingTab rating={rating} />
		</div>
	</div>
</main>
