---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import RatingTab from '@entities/Tab_Components/RatingTab/index'
import { rating } from '@shared/lib/content/ratingContent'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Турниры</h1>
		<Paragraph
			paragraphType="white"
			width="40%"
			text="В нашем сообществе турниры по игре Мафия — это не только возможность проверить свои навыки в борьбе с лучшими из лучших, но и шанс стать частью захватывающей атмосферы соперничества, где каждое решение имеет значение. Турниры придают игре дополнительный стимул и предлагают уникальный опыт, где мастерство, стратегия и интуиция выходят на первый план."
			margin="mt-8"
		/>
		<div class={styles.client__content_tournaments}>
			<RatingTab rating={rating} />
		</div>
	</div>
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-center text-primary-red">Турниры</h1>
		<Paragraph
			paragraphType="white"
			align="text-center"
			width="85%"
			text="В нашем сообществе турниры по игре Мафия — это не только возможность проверить свои навыки в борьбе с лучшими из лучших, но и шанс стать частью захватывающей атмосферы соперничества, где каждое решение имеет значение. Турниры придают игре дополнительный стимул и предлагают уникальный опыт, где мастерство, стратегия и интуиция выходят на первый план."
			margin="m-auto pt-8"
		/>
		<div class={styles.client__content_tournaments}>
			<RatingTab rating={rating} />
		</div>
	</div>
</main>
