---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import { ShowMansSwiper } from '@features/Swiper_Components/ShowMansSwiper/index'
// import { showmans } from '@features/Swiper_Components/ShowMansSwiper/index'
import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Ведущие</h1>
		<Paragraph
			paragraphType="white"
			width="40%"
			text="В центре каждой захватывающей игры Мафия стоит ведущий — тот, кто не просто следит за соблюдением правил, но и превращает каждую партию в уникальное и неповторимое событие. Ведущие играют ключевую роль в создании атмосферы, вовлечении игроков и обеспечении динамики игры."
			margin="mt-8"
		/>
		<div class={styles.client__content__history_cards}>
			<ShowMansSwiper client:load />
		</div>
	</div>
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-center text-primary-red">Ведущие</h1>
		<Paragraph
			paragraphType="white"
			align="text-center"
			width="75%"
			text="В центре каждой захватывающей игры Мафия стоит ведущий — тот, кто не просто следит за соблюдением правил, но и превращает каждую партию в уникальное и неповторимое событие. Ведущие играют ключевую роль в создании атмосферы, вовлечении игроков и обеспечении динамики игры."
			margin="m-auto pt-8"
		/>
		<div class={styles.client_mob__content__history_cards}>
			<ShowMansSwiper client:load />
		</div>
	</div>
</main>
