---
import Paragraph from '../../../shared/ui/Paragraph/index.astro'
import { Counter } from '../../../shared/ui/Counter/index'
import { Cursor } from '../../../shared/ui/Cursor/index'
import { GalleryCustom } from '@features/Swiper_Components/Gallery/index'

import men from '@assets/Gallery/men.webp'
import womanman from '@assets/Gallery/womanman.webp'
import womenjar from '@assets/Gallery/womenjar.webp'

const photos = [men, womanman, womenjar]

import styles from './styles.module.scss'
import '../../../shared/styles/global.scss'
---

<div class={styles.gallery}>
	<div class={styles.gallery__content}>
		<Cursor client:load />
		<div class={styles.gallery__content__text}>
			<h2 class="text-primary-red">Вечер игр</h2>
			<Paragraph
				text="Погрузитесь в мир стратегических загадок и азартных приключений вместе с нами! Наслаждайтесь захватывающими сценариями и неожиданными поворотами судьбы."
				paragraphType="white"
				align="left"
				width="85%"
				margin="mt-8"
			/>
			<Counter
				align="text-start"
				paragraphText="Более 100 увлекательных игр и неограниченное количество эмоций ждут вас! Присоединяйтесь к нам и создайте свои незабываемые впечатления."
				width="70%"
				margin="mt-8"
				duration={1}
				end={100}
				text="+"
				client:load
			/>
		</div>
		<div class={styles.gallery__content__photos}>
			<GalleryCustom photos={photos} client:load />
		</div>
	</div>
	<div class={styles.gallery_mob}>
		<h2 class="text-primary-red">Галерея</h2>
		<Paragraph
			text="Погрузитесь в мир стратегических загадок и азартных приключений вместе с нами! Наслаждайтесь захватывающими сценариями и неожиданными поворотами судьбы."
			paragraphType="white"
			align="text-center"
			width="50%"
			margin="mt-8"
		/>
		<Counter
			paragraphText="Более 100 увлекательных игр и неограниченное количество эмоций ждут вас! Присоединяйтесь к нам и создайте свои незабываемые впечатления."
			width="70%"
			margin="mt-8"
			duration={1}
			end={100}
			align="text-center"
			text="+"
			client:load
		/>
	</div>
</div>
