---
import Paragraph from "../../../shared/ui/Paragraph/index.astro";
import {Counter} from "../../../shared/ui/Counter/index";
import {Cursor} from "../../../shared/ui/Cursor/index";
import {GalleryCustom} from "../../../features/Gallery/index";

import Layout from "../../../layouts/Layout.astro";

import men from "@assets/Gallery/men.webp";
import womanman from "@assets/Gallery/womanman.webp";
import womenjar from "@assets/Gallery/womenjar.webp";
import womenkatana from "@assets/Gallery/womenkatana.webp";

const photos = [men, womanman,  womenjar]

import styles from "./styles.module.scss";
import "../../../shared/styles/global.scss";
---

<div class={styles.gallery}>
  <div class={styles.gallery__content}>
      <Cursor client:load/>
    <div class={styles.gallery__content__text}>
      <h2 class="text-primary-red">Галерея</h2>
        <Paragraph text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore." paragraphType="white" align="left" width="75%" margin="mt-8"/>
         <Counter align="text-start" paragraphText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut." width="50%" margin="mt-8" duration={1} end={100} text="+"/ client:load>
      </div>
        <div class={styles.gallery__content_photos}>
          <GalleryCustom photos={photos} client:load />
        </div>
  </div>
</div>
<div class={styles.gallery_mob}>
      <h2 class="text-primary-red">Галерея</h2>
      <Paragraph text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore." paragraphType="white" align="text-center" width="80%" margin="mt-8"/>
      <!-- <GalleryCustom phostos={photos} client:load /> -->
      <Counter paragraphText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut." width="70%" margin="mt-8" duration={1} end={100} align="text-center" text="+"/ client:load>
    </div>