---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import { Counter } from '@shared/ui/Counter'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={styles.container}>
    <div class={styles.container__heading}>
        <h1 class="text-primary-red">О компании</h1>
        <Paragraph paragraphType='red' width='25%' text='Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.'  />
    </div>
    <div class={styles.container__counter}>
        <div class={styles.container__counter__items}>
            <Counter paragraphText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut." width="50%" margin="mt-8" duration={2} end={100} text="+"/ client:load> 
        </div>
         <div class={styles.container__counter__items}>
            <Counter paragraphText="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut." width="50%" margin="mt-8" duration={2} end={50} text="+"/ client:load> 
        </div>
    </div>
</section>