---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import { Counter } from '@shared/ui/Counter'
import { GalleryCustom } from '@features/Swiper_Components/Gallery'
import men from '@assets/Gallery/men.webp'
import womanman from '@assets/Gallery/womanman.webp'
import womenjar from '@assets/Gallery/womenjar.webp'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'

const photos = [men, womanman, womenjar]
---

<section class={styles.container}>
	<div class="w-fullflex items-star flex-col overflow-hidden">
		<div class={styles.container__heading}>
			<h1 class="text-primary-red">О компании</h1>
			<Paragraph
				paragraphType="white"
				width="50%"
				text="SHOWTIME - это event компания, предоставляющая возможность погрузиться в захватывающий мир классической мафии и интеллектуальных игр Мы организуем вечера как в заведениях города так и онлайн Где каждый может почувствовать атмосферу интриг и увлекательных игр"
			/>
		</div>
		<div class={styles.container__counter}>
			<div class={styles.container__counter__items}>
				<Counter
					paragraphText="В ШоуТаймСити ежемесячно прибывают более 100 новых жителей"
					width="100%"
					margin="mt-8"
					duration={2}
					end={100}
					text="+"
					client:load
				/>
				<div class={styles.container__counter__items}>
					<Counter
						paragraphText="Проводятся тематические мероприятия в ШоуТаймСити"
						width="100%"
						margin="mt-3"
						duration={2}
						end={50}
						text="+"
						client:load
					/>
				</div>
			</div>
		</div>
	</div>
	<div class={`${styles.gallery} w-[70%] `}>
		<GalleryCustom photos={photos} client:load />
	</div>
</section>

<section class={styles.container_mob}>
	<div class="mt-12 flex flex-col items-center justify-center overflow-hidden">
		<h1 class="text-primary-red">О компании</h1>
		<Paragraph
			align="text-center"
			margin=""
			paragraphType="white"
			width="75%"
			text="SHOWTIME - это event компания, предоставляющая возможность погрузиться в захватывающий мир классической мафии и интеллектуальных игр Мы организуем вечера как в заведениях города так и онлайн Где каждый может почувствовать атмосферу интриг и увлекательных игр"
		/>
		<Counter
			align="text-center"
			paragraphText="В ШоуТаймСити ежемесячно прибываютболее 100 новых жителей"
			width="60%"
			margin="mt-4"
			duration={2}
			end={100}
			text="+"
			client:load
		/>
		<GalleryCustom photos={photos} client:load />
	</div>
</section>
