---
import Button from "../../../shared/ui/Buttons/index.astro";
import BigText from "../../../shared/ui/BigText/index.astro";
import Paragraph from "../../../shared/ui/Paragraph/index.astro";
import Input from "../../../shared/ui/Input/index.astro";

import Logo from "../../../assets/logo/logo.svg";

import styles from "../RegistrationForm/styles.module.scss";
---
<section class={styles.registration}>
  <div class={styles.registration__content}>
    <div class={styles.registration__logo}>
      <!-- <Image src={Logo} alt="Logo" /> -->
    </div>
    <BigText text="Добро пожаловать" margin="mt-8" bigTextType="form" {...Astro.props} />
    <Paragraph paragraphType="white" margin="mt-8" width="42%" text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. " {...Astro.props} />
    <form class={styles.registration__form}>
      <Input placeholder="Имя" inputType="default" {...Astro.props} />
      <Input placeholder="Электронная почта" inputType="default" {...Astro.props} />
      <Button text="Зарегистрироваться" buttonType="filled" margin="mt-8" {...Astro.props} />
    </form>
    <!-- <MiniText
      margin="mt-2"
      href="login"
      text="Уже есть аккаунт? "
      linktext="Войти"
    /> -->
  </div>
</section>
