---
import PasswordInput from "@shared/ui/Inputs/PasswordInput/index";
import Button from "../../../shared/ui/Buttons/DefaultButton/index.astro";
import BigText from "../../../shared/ui/BigText/index.astro";
import Paragraph from "../../../shared/ui/Paragraph/index.astro";
import { Input } from "@shared/ui/Inputs/DefaultInput";
import MiniText from "@shared/ui/MiniText/index.astro";

import styles from "../styles/styles.module.scss";

import Logo from "@assets/logo/logo.svg";
---

<section class={styles.registration}>
  <div class={styles.registration__content}>
    <div class={styles.registration__logo}>
      <!-- <Image src={Logo} alt="Logo" /> -->
    </div>
    <BigText
      text="Пройдите регистрацию"
      margin="mt-8"
      bigTextType="form"
      {...Astro.props}
    />
    <Paragraph
      paragraphType="white"
      margin="mt-8"
      width="42%"
      text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
      {...Astro.props}
    />
    <form class={styles.registration__form}>
      <Input
        placeholder="Имя"
        inputType="default"
        type="text"
        client:load
        {...Astro.props}
      />
      <Input
        placeholder="Электронная почта"
        inputType="default"
        margin="mt-4"
        type="email"
        client:load
        {...Astro.props}
      />
      <PasswordInput
        placeholder="Пароль"
        margin="mt-4"
        type="password"
        client:load
      />
      <PasswordInput
        placeholder="Подтвердите пароль"
        margin="mt-4"
        type="password"
        client:load
      />
      <Button
        text="Создать аккаунт"
        buttonType="filled"
        type="submit"
        margin="mt-8"
        {...Astro.props}
      />
    </form>
    <MiniText
      margin="mt-10"
      href="login"
      text="Уже есть аккаунт? "
      linktext=" Войти"
    />
  </div>
</section>
