---
import DefaultButton from '@shared/ui/Buttons/DefaultButton/index.astro'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import PhotoCard from '@entities/Card_Components/PhotoCard/index.astro'
import { articles } from '@shared/lib/content/newsArticlesContent'

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<section class={`${'bg-primary-dark'} ${styles.container}`}>
	<div class="m-auto mt-48 w-[86.6%]">
		<div class="mt-8 flex justify-end">
			<h3 class="text-primary-red">Новости</h3>
		</div>
		<span class="flex justify-end">
			<Paragraph
				paragraphType="white"
				width="40%"
				align="text-right"
				text="Наши ивенты станут вашей идеальной возможностью встретиться с новыми людьми, наладить коммуникацию и просто хорошо провести время после напряженной рабочей недели. Ведь мафия - это не только игра, это уникальный социальный опыт, где каждый ход может изменить ход событий."
			/>
		</span>
		<div class="m-auto flex w-full justify-between pt-16">
			{
				articles.map((article) => (
					<div>
						<PhotoCard
							img={article.img}
							time={article.time}
							heading={article.heading}
							paragraph={article.paragraph}
						/>
					</div>
				))
			}
		</div>
	</div>
</section>

<section class={`${'bg-primary-dark'} ${styles.container_mob}`}>
	<div class="m-auto flex flex-col items-center pt-16">
		<h4 class="text-primary-red">Новости</h4>
		<div class="mt-8 flex flex-col items-center gap-10">
			{
				articles.map((article) => (
					<div>
						<PhotoCard
							img={article.img}
							time={article.time}
							heading={article.heading}
							paragraph={article.paragraph}
						/>
					</div>
				))
			}
			<DefaultButton margin="mt-4" text="Все новости" buttonType="transparent" />
		</div>
	</div>
</section>
