---
import styles from './styles.module.scss'
import { TimeSwiper } from '@features/Swiper_Components/ScheduleSwiper/index'
import { type Props } from '@entities/Card_Components/TimetableCard'

import { cards } from '@shared/lib/content/mainScheduleContent'
---

<section class={styles.timetable_screen} id="timetable">
	<div class={styles.timetable_screen__container}>
		<h5 class="m-auto text-primary-red">Расписание</h5>
		<div class="mt-16 flex items-center justify-evenly">
			<TimeSwiper slides={4} cards={cards} client:load />
		</div>
	</div>
</section>

<section class={styles.timetable_mob_screen} id="timetable">
	<div class={styles.timetable_mob_screen__container}>
		<h5 class="mt-8 text-center text-primary-red">Расписание</h5>
		<div class="mt-16 flex flex-col items-center">
			<TimeSwiper slides={4} cards={cards} client:load />
		</div>
	</div>
</section>
