---
import {AdminPanel} from '@features/AdminFeatures/AdminPanel/index';
import {adminpanel} from "@features/AdminFeatures/AdminPanel/index";
import {ServiceCard} from "@entities/AdminEntities/AdminServicesCard/index"
import AddButton from "@shared/ui/AddButton/index";
import AdminHeader from "@features/AdminFeatures/AdminHeader/index";

import '@shared/styles/global.scss';

import styles from "../Team/styles.module.scss";


import Oleg from "@assets/Admin/oleg.webp";

---
<main class={styles.client}>
    <div class={styles.client__left}>
        <AdminPanel adminpanel={adminpanel} client:load/>  
    </div>
        <div class={styles.client__main}>
            <AdminHeader name='Bafomet Nurmukhamed' position='God' photo={Oleg}/>
            <div class={styles.client__main__functional}>
                <div class={styles.client__main__functional__header}>
                     <h1 class={styles.client__main__functional__header_heading}>Услуги</h1>
                </div>
                  <div class={styles.client__main__functional__services}>
                    <ServiceCard number={1} href="#" client:load/>
                    </div>
        </div>
    </div>
</main>
