---
import { AdminPanel } from '@features/AdminFeatures/AdminPanel/index'
import { adminpanel } from '@features/AdminFeatures/AdminPanel/index'
import { ServiceCard } from '@entities/AdminEntities/AdminServicesCard/index'
import AdminHeader from '@features/AdminFeatures/AdminHeader/index'
import Paragraph from '@shared/ui/Paragraph/index.astro'

import '@shared/styles/global.scss'

import styles from '../Team/styles.module.scss'

import Oleg from '@assets/Admin/oleg.webp'
---

<main class={styles.client}>
	<div class={styles.client__left}>
		<AdminPanel adminpanel={adminpanel} client:load />
	</div>
	<div class={styles.client__main}>
		<AdminHeader name="Bafomet Nurmukhamed" position="God" photo={Oleg} />
		<div class={styles.client__main__functional}>
			<div class={styles.client__main__functional__header_service}>
				<h1 class={styles.client__main__functional__header_heading}>Услуги</h1>
				<Paragraph
					text="Заполните все поля формы чтобы добавить новый отзыв"
					paragraphType="white"
				/>
			</div>
			<div class={styles.client__main__functional__services}>
				<ServiceCard number={1} href="serviceslist" client:load />
			</div>
		</div>
	</div>
</main>
