---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import VacanciesCard from '@entities/Card_Components/VacanciesCard/index'

import '@shared/styles/global.scss'
import styles from './styles.module.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Вакансии</h1>
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Хотите присоединиться к нашей команде? Взгляните на наши открытые вакансии и найдите свою возможность стать частью нашего увлекательного проекта."
			margin="mt-8"
		/>
		<div class={styles.client__content_cards}>
			<VacanciesCard
				number="01"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  "
			/>
			<VacanciesCard
				number="02"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  "
			/>
			<VacanciesCard
				number="03"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  "
			/>
			<VacanciesCard
				number="04"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.    "
			/>
			<VacanciesCard
				number="05"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  "
			/>
			<VacanciesCard
				number="06"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.  "
			/>
		</div>
	</div>
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-center text-primary-red">Вакансии</h1>
		<Paragraph
			paragraphType="white"
			width="70%"
			align="text-center"
			text="Хотите присоединиться к нашей команде? Взгляните на наши открытые вакансии и найдите свою возможность стать частью нашего увлекательного проекта."
			margin="m-auto pt-6"
		/>
		<div class={styles.client_mob__content_cards}>
			<VacanciesCard
				number="01"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			/>
			<VacanciesCard
				number="02"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			/>
			<VacanciesCard
				number="03"
				name="Lorem"
				paragraph="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.. Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			/>
		</div>
	</div>
</main>
