---
import styles from './styles.module.scss'
import BigText from '@shared/ui/BigText/index.astro'
import Paragraph from '@shared/ui/Paragraph/index.astro'

interface Props {
	number: string
	image: any
	heading: string
	paragraph: string
	price: string
	cardType?: string | 'white' | any
}

const { number, image, heading, paragraph, price, cardType } = Astro.props
const serviceClass = `${styles.service_card} ${styles[cardType]}`
---

<div class={serviceClass}>
	<div class="space-between flex flex-col p-8">
		<div class="flex w-full items-center justify-between">
			<img src={image} alt={heading} class={styles.service_card__icon} />
			<span class={styles.service_card__number}>{number}</span>
		</div>
		<BigText
			text={heading}
			bigTextType={cardType === 'white' ? 'services--card--red' : 'services--card'}
			margin="mt-2"
		/>
		<Paragraph
			text={paragraph}
			margin="mt-2"
			paragraphType={cardType === 'white' ? 'dark' : 'white'}
			width="80%"
		/>
		<span class={styles.service_card__price}>{price}</span>
	</div>
</div>
