---
import Separator from '@shared/ui/Separator/index.astro'
import Paragraph from '@shared/ui/Paragraph/index.astro'
import ServiceCard from '@entities/Card_Components/ServiceCard/index.astro'
import Button from '@shared/ui/Buttons/NavigationButton/index.astro'
import { cardsData } from '@shared/lib/content/servicesMainContent'

import styles from './styles.module.scss'

import '@shared/styles/global.scss'
---

<section class={styles.services_screen} id="services">
	<div class={styles.services_screen__container}>
		<div class={styles.services_screen__container__upper}>
			<div class="flex flex-col items-start">
				<h3 class="text-primary-red">EVENT SHOWTIME</h3>
				<Paragraph
					paragraphType="red"
					width="42%"
					margin="mt-4"
					text="Весело проведите время и укрепите отношения с коллегами. Свяжитесь с нами, чтобы узнать больше о наших возможностях для вашего мероприятия!"
				/>
			</div>
			<Separator textLeft="showtime" />
		</div>
		<div class="mt-16 flex justify-evenly gap-8 overflow-hidden">
			{
				cardsData.map((card) => (
					<ServiceCard
						image={card.image}
						number={card.number}
						heading={card.heading}
						paragraph={card.paragraph}
					/>
				))
			}
		</div>
		<Button text="Подробнее" href="/services" margin="m-auto mt-8" buttonType="transparent" />
	</div>
</section>

<section class={styles.services_mob_screen} id="services_mob">
	<div class={styles.services_mob_screen__container}>
		<div class={styles.services_mob_screen__container__upper}>
			<div class="flex flex-col items-center">
				<h3 class="mt-16 text-primary-red">EVENT SHOWTIME</h3>
				<Paragraph
					paragraphType="red"
					width="75%"
					margin="mt-4"
					align="text-center"
					text="Весело проведите время и укрепите отношения с коллегами. Свяжитесь с нами, чтобы узнать больше о наших возможностях для вашего мероприятия!"
				/>
			</div>
		</div>
		<div class="mt-16 flex flex-col items-center gap-12 overflow-hidden">
			{
				cardsData.map((card) => (
					<ServiceCard
						image={card.image}
						number={card.number}
						heading={card.heading}
						paragraph={card.paragraph}
					/>
				))
			}
		</div>
		<Button text="Подробнее" href="#" margin="m-auto mt-8" buttonType="transparent" />
	</div>
</section>
