---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import Button from '@shared/ui/Buttons/NavigationButton/index.astro'

import iphone from '@assets/Main/iphone.webp'
import iphoneMob from '@assets/Main/Nothing-Phone-2.webp'

import styles from './styles.module.scss'
---

<section class={styles.app_screen}>
	<div class={styles.app_screen__container}>
		<div class="flex flex-col items-start">
			<h6 class="text-primary-red">IOS & Android</h6>
			<Paragraph
				width="50%"
				paragraphType="white"
				margin="mt-8"
				text="Скоро в ваш мир придет революция игры в Мафию как вы её знаете! Представляем эксклюзивное приложение, которое перенесет ваши вечера в мир напряженных интриг, умопомрачительных заговоров и драматических разоблачений. Оставайтесь на связи, чтобы первыми окунуться в атмосферу напряженной борьбы между мафией и горожанами, где каждый ваш выбор имеет значение. "
			/>
			<Paragraph
				width="50%"
				paragraphType="white"
				margin="mt-8"
				text="Мобильное приложение на стадии разработки"
			/>
			<!-- <Button text="Подробнее" buttonType="transparent" margin="mt-8" href="/ios" /> -->
		</div>
		<img src={iphone.src} class={styles.app_screen__container__image} alt="iphone" />
	</div>
</section>

<section class={styles.app_mob_screen}>
	<div class={styles.app_mob_screen__container}>
		<div class="mt-16 flex flex-col items-center">
			<h6 class="text-primary-red">IOS & Android</h6>
			<Paragraph
				width="80%"
				paragraphType="white"
				margin="mt-8"
				align="text-center"
				text="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi."
			/>
			<img src={iphoneMob.src} class={styles.app_mob_screen__container__image} alt="iphone" />
			<!-- <Button text="О нас" buttonType="transparent" margin="" href="/ios" /> -->
		</div>
	</div>
</section>
