---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import RulesCard from '@entities/Card_Components/RulesCard/index'
import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Правила SHOWTIME</h1>
		<Paragraph paragraphType="white" width="23%" text="ВНИМАНИЕ" margin="mt-16" />
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Просим Вас ознакомиться с правилами ShowTime За несоблюдение правил нашего клуба будет наложен бан на разный срок, в зависимости от вида нарушения"
			margin="mt-4"
		/>
		<div class={styles.client__content_cards}>
			<RulesCard
				number="01"
				name="Правила Клуба"
				paragraph={`1. Не оскорблять участников клуба, в том числе и себя\n` +
					`2. Упоминание других клубов как в чате, так и в заведении\n` +
					`3. Попытки споров и внесение правила игр сторонних клубов`}
			/>
			<RulesCard
				number="02"
				name="Правила Сайта"
				paragraph="Регистрация и внесение достоверных личных данных"
			/>
			<RulesCard
				number="03"
				name="Правила Игры"
				paragraph={`1. Запрещается использование нецензурной лексики\n` +
					`2. Попытки нечестной игры и использование неигрового преимущества\n`}
			/>
		</div>
	</div>
</main>

<main class={styles.client_mob}>
	<div class={styles.client_mob__content}>
		<h1 class="mt-16 text-center text-primary-red">Правила работы</h1>
		<Paragraph
			paragraphType="white"
			width="75%"
			text="Просим Вас ознакомиться с правилами ShowTime За несоблюдение правил нашего клуба будет наложен бан на разный срок, в зависимости от вида нарушения"
			align="text-center"
			margin="m-auto pt-8"
		/>
	</div>
	<div class={styles.client_mob__content_cards}>
		<RulesCard
			number="01"
			name="Правила Клуба"
			paragraph={`1. Не оскорблять участников клуба, в том числе и себя\n` +
				`2. Упоминание других клубов как в чате, так и в заведении\n` +
				`3. Попытки споров и внесение правила игр сторонних клубов`}
		/>
		<RulesCard
			number="02"
			name="Правила Сайта"
			paragraph="Регистрация и внесение достоверных личных данных"
		/>
		<RulesCard
			number="03"
			name="Правила Игры"
			paragraph={`1. Запрещается использование нецензурной лексики\n` +
				`2. Попытки нечестной игры и использование неигрового преимущества\n`}
		/>
	</div>
</main>
