---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import Marquees from '@shared/ui/Marquee/index.tsx'
import MobMarquees from '@shared/ui/Marquee/mob'
import styles from '../ClientsPage/styles.module.scss'
import { photos } from '@shared/lib/content/partnersContent'

import '@shared/styles/global.scss'
---

<main class={styles.client}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Партнеры</h1>
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="mt-8"
		/>
	</div>
	<Marquees photos={photos} margin="mb-32" client:load />
</main>

<main class={styles.client_mob}>
	<div class={styles.client__content}>
		<h1 class="mt-32 text-primary-red">Партнеры</h1>
		<div class="flex items-center justify-center">
			<Paragraph
				paragraphType="white"
				width="75%"
				text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
				margin="mt-4"
			/>
		</div>
	</div>
	<MobMarquees photos={photos} margin="mb-28" client:load />
</main>
