---
import Paragraph from '@shared/ui/Paragraph/index.astro'
import { GalleryCustom } from '@features/Swiper_Components/Gallery'

import men from '@assets/Gallery/men.webp'
import womanman from '@assets/Gallery/womanman.webp'
import womenjar from '@assets/Gallery/womenjar.webp'

const photos = [men, womanman, womenjar]

import styles from './styles.module.scss'
import '@shared/styles/global.scss'
---

<div class={styles.container}>
	<div class="m-auto flex flex-col items-start">
		<h1 class={styles.container__heading}>Наши Ивенты</h1>
		<Paragraph
			margin="mt-8"
			paragraphType="white"
			align="text-start"
			width="70%"
			text="Мы организуем разнообразные ивенты для корпоративных мероприятий, дружеских вечеринок, тимбилдинга, праздников и тематических встреч. "
		/>
		<Paragraph
			margin="mt-8"
			paragraphType="white"
			align="text-start"
			width="65%"
			text="Наша команда профессионалов берет на себя всю организацию: от разработки концепции и подбора локации до подготовки развлекательной программы, Мы стремимся создавать атмосферу и гарантируем яркие эмоции, веселое времяпрепровождение и незабываемые впечатления для всех участников."
		/>
	</div>
	<div class={styles.container__photo}>
		<GalleryCustom photos={photos} client:load />
	</div>
</div>

<div class={styles.container_mob}>
	<div class={styles.container_mob__items}>
		<h1 class={styles.container_mob__heading}>Наши Ивенты</h1>
		<Paragraph
			margin="mt-8"
			paragraphType="white"
			align="text-center"
			width="80%"
			text="Наша команда профессионалов берет на себя всю организацию: от разработки концепции и подбора локации до подготовки развлекательной программы, Мы стремимся создавать атмосферу и гарантируем яркие эмоции, веселое времяпрепровождение и незабываемые впечатления для всех участников."
		/>
	</div>
	<div class={styles.container_mob__photo}>
		<GalleryCustom photos={photos} client:load />
	</div>
</div>
