---
import Paragraph from '../../../shared/ui/Paragraph/index.astro'

import {ShowMansSwiper} from '@features/Swiper_Components/ShowMansSwiper/index'
import { showmans } from '@features/Swiper_Components/ShowMansSwiper/index'

import '@shared/styles/global.scss'

import styles from './styles.module.scss'
---

<main class={styles.mans}>
	<div class={styles.mans__items}>
		<h1 class="mt-16 text-primary-red">Ведущие</h1>
		<Paragraph
			paragraphType="white"
			width="23%"
			text="Lorem ipsum dolor  sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua. "
			margin="mt-16"
		/>
		<div class={styles.client__content__history_cards}>
			<ShowMansSwiper showmans={showmans} client:load />
		</div>
	</div>
</main>
