---
import Paragraph from '../../../shared/ui/Paragraph/index.astro'

import { ShowMansSwiper } from '@features/Swiper_Components/ShowMansSwiper/index'
import { showmans } from '@features/Swiper_Components/ShowMansSwiper/index'

import '@shared/styles/global.scss'

import styles from './styles.module.scss'
---

<main class={styles.mans}>
	<div class={styles.mans__items}>
		<h1 class="mt-16 text-primary-red">Ведущие SHOWTIME</h1>
		<Paragraph
			paragraphType="white"
			width="35%"
			text="Вы можете выбрать себе организатора на свой уникальный вечер! Наши ведущие обладают отличными организаторскими навыками, что позволяет им создавать уютную и дружескую атмосферу. Они готовы украсить Ваше мероприятие и сделать его незабываемым для всех участников."
			margin="mt-16"
		/>
		<div class={styles.client__content__history_cards}>
			<ShowMansSwiper showmans={showmans} client:load />
		</div>
	</div>
</main>

<main class={styles.mans_mob}>
	<div class={styles.mans_mob__items}>
		<h1 class="m-auto text-primary-red">Ведущие SHOWTIME</h1>
		<Paragraph
			paragraphType="white"
			align="text-center"
			width="75%"
			text="Вы можете выбрать себе организатора на свой уникальный вечер! Наши ведущие обладают отличными организаторскими навыками, что позволяет им создавать уютную и дружескую атмосферу. Они готовы украсить Ваше мероприятие и сделать его незабываемым для всех участников."
			margin="m-auto pt-8"
		/>
		<div class={styles.mans_mob__slider}>
			<ShowMansSwiper showmans={showmans} client:load />
		</div>
	</div>
</main>
