---
import styles from "./styles.module.scss";
import BigText from "@shared/ui/BigText/index.astro";
import Paragraph from "@shared/ui/Paragraph/index.astro";
import { Hat } from "@shared/ui/Icons/Hat/index";

interface Props {
  bigText: string;
  paragraph: string;
  cardType: 'dark' | "white" 
} 

const { paragraph, bigText, cardType } = Astro.props;
const cardClass = `${styles.card} ${styles[cardType]}`
const paragraphType = cardType === 'dark' ? 'white' : 'dark';
const bigTextType = cardType === 'dark' ? 'white' : 'red';
---

<div class={cardClass}>
  <div class="p-8">
    <Hat />
    <BigText  text={bigText} bigTextType={bigTextType} />
    <Paragraph text={paragraph} paragraphType={paragraphType}  margin="mt-3" />
  </div>
</div>
