---
import {AdminPanel} from '../../../features/AdminPanel/index';
import {adminpanel} from '../../../features/AdminPanel/index';
// import AddButton from "../../../shared/ui/AddButton/index";
import AdminUserTab from "../../../shared/ui/AdminUserTab/index"

import '@shared/styles/global.scss';

import styles from "./styles.module.scss";


import Oleg from "../../../assets/Admin/oleg.webp";

---
_usertab
<main class={styles.client}>
    <div class={styles.client__content}>
        <AdminPanel adminpanel={adminpanel} client:load/>
        <div class={styles.client__content_header}>
            <span class={styles.client__content_header_heading}>Панель администратора</span>
            <div class={styles.client__content}>
                <AdminUserTab name='Bafomet Cashubuy' position='Dadjal' photo={Oleg}/>
            </div>
        </div>  
    </div>
</main>